/* .home-container {
  text-align: center;
  margin-top: 50px; /* Margin for spacing from the top */
  /* Removed absolute positioning */
/* } */

/* .home-container h1 { */
  /* font-size: 4em; */ 
  /* color: white; */
/* }

.home-container p {
  font-size: 1.5em;
  color: white;
  margin-top: 200px;
} */
